[submodule "themes/slim"]
	path = themes/slim
	url = git://github.com/zhe/hugo-theme-slim.git
[submodule "public"]
	path = public
	url = git://github.com/libOctavo/libOctavo.github.io.git
	ignore = dirty
